.weather_forecast {
  width: 50vw;
  padding: 10px 0;
  margin: 0 auto 5% auto;
  background-color: rgb(51 79 111);
  border-radius: 50px;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px black;
  color: #ffffff;
  font-family: 'Teko';

  & ul {
    list-style-type: none;
    padding: 10px 10px 10px 30px;
  }

  & .filter_btn,
  & .delete_btn,
  & .add_btn,
  & .add_list_btn {
    border: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: scale 0.5s, box-shadow 0.5s;
    font-family: 'Teko';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 0 5px black;
      scale: 1.05;
    }
  }

  & .title_wrapper,
  & .city_wrapper {
    position: relative;
  }

  & .titles {
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: center;

    & :nth-child(1n) {
      width: 25%;
      margin-right: 2vw;
    }

    & :last-child {
      margin-right: 0;
    }

    & .title_wrapper {
      & .filter_btn {
        right: 25%;
        top: 50%;
      }
    }
  }

  & .city_wrapper {
    & .delete_btn {
      left: 5%;
      top: 50%;
    }
  }

  & .add_list_btn {
    left: 50%;
    bottom: 0;
  }

  & .add_list {
    position: fixed;
    border-radius: 10px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px black;
    background-color: rgb(51 79 111);
    transform: translate(-50%, -50%);
    padding: 0 5%;
    padding: 0 5%;
    left: 50%;
    bottom: -30px;

    & .add_btn {
      left: -15%;
      top: 50%;
    }

    &.hide {
      display: none;
    }
  }
}

.main_title_wrapper {
  display: flex;
  justify-content: center;
  width: 50vw;
  padding: 10px 0;
  margin: 0 auto 5% auto;

  & .main_title {
    font-size: 5rem;
    text-align: center;
    color: #000000;
    text-shadow: -5px -5px 20px rgb(66 147 240), 5px 5px 20px rgb(255 253 82);
    font-family: 'Teko';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgb(51 79 111);
    -webkit-text-stroke-width: 3px;
  }
}

.date_wrapper {
  width: 50vw;
  padding: 10px 0;
  margin: 0 auto;
  background-color: rgb(51 79 111);
  border-radius: 50px;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px black;
  color: #ffffff;
  font-family: 'Teko';
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;

  & .select_btn {
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: scale 0.5s, box-shadow 0.5s;
    font-family: 'Teko';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 0 5px black;
      scale: 1.05;
    }
  }
}
